/*Insert styles here*/
@import url('https://fonts.googleapis.com/css?family=Asap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Asap', sans-serif;
}
li {
	list-style-type: none;
}
li a {
	text-decoration: none;
	color: white;
}
li a:hover {
	color: #b2e1ff;
}
.box {
	width: 100%;
	height: 100vh;
}

/* ===================
    Navigation bar   
======================*/

.navBar {
	width: 100%;
	height: 65px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	left: 0;
	background-color: #808B96;
	display: grid;
	grid-template-columns: 2fr 1fr;
}
#treehouseIcon {
	padding-left: 1.5rem;
	width: 60px;
	height: auto;
	place-self: center start;
}
#navBar {
	display: flex;
	flex: auto;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

/* ===================
    container 
======================*/

.conatiner {
	margin: 0 auto;
	width: 80%;
}

/* ===================
    box home   
======================*/

#boxHome {
	width: 100%;
    background: linear-gradient(45deg, #f6f8f9 0%,#e5ebee 33%,#d7dee3 64%,#f5f7f9 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    align-content: center;
    grid-gap: 20px;
}
.signupText {
    width: 100%;
    padding: 2rem;
    line-height: 1.5;
}
.signupForm {
    width: 70%;
    padding: 3rem;
}
.form01 {
	border: 1px solid red;
	width: 100%;
	margin: 0 auto;
	padding: 2rem;
	display: grid;
	line-height: 3;
}

/* ===================
    box about   
======================*/
#boxAbout {
	background: linear-gradient(45deg, #bfd255 0%,#8eb92a 49%,#72aa00 66%,#9ecb2d 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.aboutText {
	width: 70%;
	margin: auto;
	text-align: center;
	padding: 2rem;
	line-height: 2;
}

/* ===================
    box location   
======================*/
#boxLocation {
    background: linear-gradient(135deg, #f3e2c7 0%,#c19e67 43%,#b68d4c 66%,#e9d4b3 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}
#boxLocation img {
	width: 60%;
	height: auto;
}

.box {
	display: none;
}



